In [17]:
import numpy as np
import pandas as pd

In [18]:
sale_amount = np.random.randint(5, size=(6, 3))
sale_amount

array([[1, 0, 2],
       [0, 4, 2],
       [2, 0, 2],
       [3, 3, 4],
       [1, 3, 2],
       [3, 2, 0]])

In [19]:
weekly_sale = pd.DataFrame(sale_amount,index=["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه","پنج شنبه"],columns=["کره  گیاهی ", "کره بادام زمینی ", "کره حیوانی"])
weekly_sale

          کره  گیاهی   کره بادام زمینی   کره حیوانی
شنبه                1                 0           2
یکشنبه              0                 4           2
دوشنبه              2                 0           2
سه شنبه             3                 3           4
چهارشنبه            1                 3           2
پنج شنبه            3                 2           0

In [20]:
price = np.array([10, 14, 12])
price

array([10, 14, 12])

In [21]:
butter_price = pd.DataFrame(price.reshape(1, 3),index=["قیمت"],columns=["کره  گیاهی ", "کره بادام زمینی ", "کره حیوانی"])
butter_price

      کره  گیاهی   کره بادام زمینی   کره حیوانی
قیمت           10                14          12

In [22]:
butter_price.shape

(1, 3)

In [23]:
weekly_sale.shape

(6, 3)

In [24]:
daily_sale = butter_price.dot(weekly_sale.T)
daily_sale.shape

(1, 6)

In [25]:
weekly_sale["سرجمع هزینه"] = daily_sale.T
weekly_sale

          کره  گیاهی   کره بادام زمینی   کره حیوانی  سرجمع هزینه
شنبه                1                 0           2           34
یکشنبه              0                 4           2           80
دوشنبه              2                 0           2           44
سه شنبه             3                 3           4          120
چهارشنبه            1                 3           2           76
پنج شنبه            3                 2           0           58